.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #1e1e1e;
  cursor: pointer;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;
}

.menu-item svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

.menu-item:hover,
.menu-item.is-active {
  background-color: #f0f0f0;
}